<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Conversion de Monedas</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" href="/bootstrap.min.css" media="screen"/>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
      <div class="page-header" id="banner">
         
        <div class="row">
          <div class="col-lg-6 col-md-7 col-sm-6">
            <div id="mensaje" class="" role="alert"></div>

			<form method="post" enctype="multipart/form-data" class="form-horizontal">
            	<h1>Calculando Monedas</h1>
            	<fieldset>
            		<div class="form-group">
	                    <label class="col-lg-3 control-label">Moneda Origen </label>
	                    <div class="col-lg-9">
	                    	<select class="form-control" id="origen">
							  <option value="">Seleccione</option>
							  <option th:each="currency : ${currencys}" th:value="${currency}" th:text="${currency}"></option>
							</select>
	                    </div>
                	</div>
            		
            		<div class="form-group">
	                    <label class="col-lg-3 control-label">Moneda Destino </label>
	                    <div class="col-lg-9">
	                    	<select class="form-control" id="destino">
	                    		<option value="">Seleccione</option>
							  	<option th:each="currency : ${currencys}" th:value="${currency}" th:text="${currency}"></option>							   
							</select>
	                    </div>
                	</div>
                	<div class="form-group">
	                    <label class="col-lg-3 control-label">Importe: </label>
	                    <div class="col-lg-9">
	                    	<input type="text" class="form-control" id="importe" oninput="valid(this)"  placeholder="00.00"/>
	                    </div>
                	</div>
                	<div id="resultado" class="alert alert-info" role="alert" style="display: none;"></div>
            		<div class="form-group">
                		<div class="col-lg-12 col-lg-offset-3">
                			<button type="button" class="btn btn-primary" onclick="convertir()" name="button">Convertir</button>
                		</div>
                	</div>
                	
                </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
<script>
	function convertir(){
		var origen = $("#origen").val();
		var destino = $("#destino").val();
		var importe = $("#importe").val();
		el_down.innerHTML = "";
		$("#resultado").removeClass("alert alert-info");
		$("#resultado").empty();
		$("#mensaje").removeClass("alert alert-danger");		
		$("#mensaje").empty();
		
		if(validacionCombosIguales() && validacionCamposVacios()){
			$.ajax({
				url: '/currency-converter-feign/from/'+origen+'/to/'+destino+'/quantity/'+importe,			
				type : 'GET',
				success: function(data) {
					$("#resultado").addClass("alert alert-info");
					var resultado = "El tipo de cambio de <b>"+data.from+"</b> a <b>"+data.to+"</b> es de  <b>"+data.conversionMultiple+"</b>. </br>"
						resultado += "Para el monto solicitado de <b>"+data.quantity+"</b> la conversión es: <b>"+data.totalCalculatedAmount+"</b>";
					$("#resultado").html(resultado);
					$("#resultado").show();
				},
				error: function() {
					showAlertDanger("Error al consultar Conversion<br/>");
			    }
			});
		}
	}
	
	var el_down = document.getElementById("mensaje");
	 
	 
   	var RegExp = new RegExp(/^\d*\.?\d*$/); 
   	var val = document.getElementById("importe").value; 

   	function valid(elem) { 
       if (RegExp.test(elem.value)) { 
           val = elem.value; 
       } else { 
           elem.value = val; 
       } 
   	} 
 	function validacionCamposVacios(){
 		var validacionFlag=true;
 		 
 		if(!$.trim($("#origen").val()).length){
 			showAlertDanger("Debe seleccionar una moneda Origen <br/>");
 			validacionFlag=false;
 		}
		if(!$.trim($("#destino").val()).length){
			showAlertDanger("Debe seleccionar una moneda Destino <br/>");
			validacionFlag=false;
 		}
		if(!$.trim($("#importe").val()).length){
			showAlertDanger("Debe ingresar un Importe <br/>");
			validacionFlag=false;
 		}
		
		return validacionFlag;
 	}
 	function validacionCombosIguales(){
 		if($("#destino").val()==$("#origen").val() && $("#origen").val()!="" && $("#destino").val()!="" ){
 			showAlertDanger("Las monedas origen y destino debe ser diferentes<br/>");
			return false;
 		}
 		return true;
 	}
 	function showAlertDanger(texto){
 		$("#mensaje").addClass("alert alert-danger");
		$("#mensaje").append(texto);
 	}
 	 
</script>
</body>
</html>
